## Build results
bin/
obj/

## User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/

## ASP.NET Core
appsettings.Development.json
appsettings.Local.json

## Logs
*.log

## Rider
.idea/

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Secrets
*.secrets.json
